.container {
	max-width: 480px;
}

article {
	text-align: justify;
}

body {
	font-family: Palatino, serif;
	font-size: 15px;
}

h1 {
	font-family: Palatino, serif;
	font-weight: bold;
}

.login {
	float: right;
}